body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: monospace;
}

canvas {
  background: #222;
  margin: 10px;
  border: 2px solid #fff;
}
