body {
  font-family: sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

#boards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

canvas {
  background: #222;
  display: block;
  margin: auto;
  border: 2px solid white;
}

.revive-message {
  margin-top: 10px;
  font-size: 14px;
  color: yellow;
}